body {
	text-align: center;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	border: 2px solid green;
	width: 50%;
	margin: 0 auto;
}

#zero {
	grid-column: 1 / 3;
}

#clear {
	grid-column: 1 / 4;
}